
.virtual-input {
    .num-style{
        padding: 0 5px;
        align-self: center;
    }
}
.real-input {
    position: relative;
    height: 32px;
    .bk-textarea {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999;
    }
}