.scr-resource-manage-detail-page {
  height: 100%;

  .operation-bar {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .table-container {
    height: calc(100% - 48px);
  }

  .w200 {
    width: 200px;
  }
}
