.application-detail-container {
  .detail-wrapper {
    margin: 76px 24px;
    .timeline-container {
      padding-top: 10px;
      .timeline-content-txt {
        color: #979BA5;
      }
    }
    .copy-wrapper {
      display: flex;
      align-items: center;
      .copy-icon {
        cursor: pointer;
        &:hover {
          color: #3A84FF;
        }
      }
    }
  }
}