.page {
  padding: 24px;
  height: 100%;

  .filter {
    margin-bottom: 12px;
    background-color: #fff;
  }

  .table {
    height: calc(100% - 246px);
    padding: 24px;
    background-color: #fff;
  }
}

.buttons {
  display: flex;
  align-items: center;

  .button {
    min-width: 88px;

    + .button {
      margin-left: 8px;
    }
  }
}

.mb16 {
  margin-bottom: 16px;
}

.operation-button-group {
  display: flex;
  align-items: center;
  gap: 8px;
}