.cvm-produce-create-form {
  .i-form-control {
    width: 300px;
  }

  .i-disk-form-item {
    .i-content {
      display: flex;
      align-items: center;

      .i-disk-type-select {
        width: 60%;
        flex-shrink: 0;
      }

      .i-unit {
        margin: 0 8px;
      }
    }

    .i-tips {
      margin-top: 4px;
      color: $warning-color;
      font-size: 12px;
      line-height: normal;
    }
  }

  .advance-set {
    margin-left: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #409eff;
  }

  .form-item-tips {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    .bk-link {
      font-size: 12px;
    }
  }
}
