.scr-resource-manage-page {
  height: 100%;

  .manage-container {
    height: 100%;
    
    .w150 {
      width: 150px;
    }

    .w200 {
      width: 200px;
    }

    .f22 {
      font-size: 22px;
    }
  }
.manage-com{
  background-color: #fff;
  .manage-com-button{
    margin: 10px 25px;
  }
}
  .bk-tab--card-grid {
    height: 100%;

    .bk-tab-content {
      height: calc(100% - 40px);
      padding: 0;
    }
  }
}
.tab-wrapper {
  margin: 24px;
  min-height: calc(100vh - 150px);
}
