.scr-resource-manage-page {
  height: 100%;
  padding: 24px;

  .manage-container {
    height: 100%;
    padding: 24px;

    .w150 {
      width: 150px;
    }

    .w200 {
      width: 200px;
    }

    .f22 {
      font-size: 22px;
    }
  }

  .bk-tab--card-grid {
    height: 100%;

    .bk-tab-content {
      height: calc(100% - 40px);
      padding: 0;
    }
  }
}
