.total-num{
  font-size: 12px;
  margin-left: 8px;
}
.title{
  margin: 10px 0;
}
.expand-row{
  padding: 10px;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 150px;
  row-gap: 10px;
  .expand-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    span{
      color: #99a8bf;
    }
  }
}