.cvm-device-create-form {
  .i-form-control {
    width: 250px;
  }
}

.create-device-dialog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .mr-auto {
    margin-right: auto;
  }
}
