.home {
  // height: 52px;

  .status {
    display: flex;
    align-items: center;
    color: #313238;
    font-size: 14px;

    .audit-status {
      display: inline-flex;
      align-items: center;
      margin-left: 50px;
    }

    :global(.hcm-icon) {
      font-size: 21px;
      margin-right: 13.5px;
      color: #3a84ff;
    }

    :global(.bkhcm-icon-7chenggong-01) {
      color: #2dcb56;
    }

    :global(.bkhcm-icon-38moxingshibai-01),
    :global(.bkhcm-icon-close-circle-fill) {
      color: #cc4053;
    }
  }
}

.error-message {
  // max-width: 1475px;
  max-width: 90%;
  margin-left: 13.5px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #d9001b;

  .error-message-color {
    color: #d9001b !important;
  }
}
