.wid100 {
  .apply-form-wrapper {
    margin-top: 52px;
    padding: 0 40px;
  }
  .flexrow {
    display: flex;
    align-items: center;
    height: 30px !important;
  }
}
.QCLOUDCVM-displayflex {
  display: flex;
  align-content: center;
  .item-warp {
    margin-right: 50px;
    height: 45px;
    margin-bottom: 40px;
    .item-warp-component {
      width: 300px;
    }
  }
}
.mr10 {
  margin-right: 10px;
}
.QCLOUDCVM-fontweight {
  margin-left: 40px;
  text-align: center;
  color: #313238;
  font-weight: 400;
  font-size: 14px;
}
.QCLOUDCVM-fontsize {
  font-size: 14px;
  margin-left: 5px;
}
.QCLOUDCVM-displayflex {
  display: flex;
  cursor: pointer;
}
.QCLOUDCVM-form-wrapper {
  margin: 0 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .bk-form-item {
    margin: 8px 0;
  }
}
.tooltips {
  height: 60px;
  line-height: 30px;
  text-align: right;
  margin-top: 10px;
  .content {
    text-align: left;
    .application {
      font-size: 14px;
    }
  }
  .calculationDetails {
    text-decoration: underline;
    color: #909399;
    font-size: 12px;
  }
}
.volumetip {
  color: #e6a23c;
}
.QCLOUDCVM-card-content {
  padding: 0 28px;
}
.QCLOUDCVM-card-title {
  font-weight: 700;
  font-size: 14px;
  color: #313238;
  letter-spacing: 0;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.QCLOUDCVM-card-content-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
}