.bind-cvm-dialog-container {
  // .bk-dialog-header {
  //   display: none;
  // }
  // .bk-modal-close {
  //   display: none;
  // }
  // .bk-dialog-content {
  //   padding: 0;
  //   margin: 0;
  // }
  .security-bind-cvm-wrapper {
    .bind-cvm-container {
      padding: 24px;
    }

    .aside-container {
      background: #f5f6fa;
      height: 100%;
      .aside-header {
        height: 40px;
        background: #ffffff;
        border-radius: 0 2px 2px 0;
        font-weight: 700;
        font-size: 12px;
        color: #313238;
        display: flex;
        align-items: center;
        padding-left: 24px;
      }
      .aside-content {
        padding: 16px 24px;
        .aside-content-toolbar {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: #979ba5;
          margin-bottom: 8px;
          .total-sum {
            background-color: #e1ecff;
            color: #3a84ff;
            padding: 1px 8px;
            margin-left: 4px;
            border-radius: 8px;
          }
          .clear-tool {
            margin-left: auto;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
        .aside-content-list {
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }

          .list-item {
            min-height: 32px;
            background: #ffffff;
            border-radius: 2px;
            padding: 6px 12px;
            color: #313238;
            font-size: 12px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            .close-icon {
              margin-left: auto;
              margin-right: 3px;
              cursor: pointer;
              display: none;
              font-size: 10px;
            }
            &:hover {
              .close-icon {
                display: block;
                cursor: pointer;
              }
              box-shadow: 0 2px 4px 0 #0000001a, 0 2px 4px 0 #1919290d;
            }
          }
        }
      }
    }
  }
}
