.pop-btn{
    display: flex;
    align-items: center;
    & > div:first-child {
        margin-right: 10px;
    }
}
.pop-content-container{
    display: flex;
    align-items: center;
    .bk-button {
        margin-left: 10px;
    }
}