.home {
  padding: 15px;
}
.mb-16{
  margin-bottom: 16px;
}
.base-grid{
  width: 45vw;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  padding: 20px 65px;
  row-gap: 16px;
  .base-text{
    color: #313238;
  }
}
.pre-btn{
  position: absolute;
  right: 24px;
  top: 16px;
}
.relative{
  position: relative;
}