.search-grid {
  display: grid;
  overflow-x: auto;
  padding-bottom: 8px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  row-gap: 16px;
  margin-bottom: 24px;

  .search-label {
    margin-bottom: 6px;
  }

  :global(.bk-date-picker) {
    width: 100%;
  }
}

.search-button {
  width: 88px;

  + .search-button {
    margin-left: 8px;
  }
}

.mb-16 {
  margin-bottom: 16px;
}