.bill-filter-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 15px 0;
    padding: 10px;
    & > div {
        margin-bottom: 10px;
    }
    .bill-form-btn {
        .bk-form-content {
            display: flex;
            align-items: center;
            .bk-button+.bk-button {
                margin-left: 10px;
            }
        }
    }
}
.sub-order-num,.username {
    color: #409eff;
    cursor: pointer;
}
.order-width {
    width: 180px;
}
.tag-input-width {
    width: 165px;
}
.recycle-operation {
    .bk-button+.bk-button {
        margin-left: 10px;
    }
}
.displayflex {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}