.bill-filter-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 15px 0;
    padding: 10px;
    & > div {
        margin-bottom: 10px;
    }
    .bill-form-btn {
        .bk-form-content {
            display: flex;
            align-items: center;
            .bk-button+.bk-button {
                margin-left: 10px;
            }
        }
    }
}
.sub-order-num,.username {
    color: #409eff;
    cursor: pointer;
}
.order-width {
    width: 180px;
}
.tag-input-width {
    width: 165px;
}
.recycle-operation {
    .bk-button+.bk-button {
        margin-left: 10px;
    }
}
.displayflex {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}
.apply-list-container {
    .filter-container {
      margin-bottom: 8px;
    }
    .table-container {
      margin-top: 8px;
      .sub-order-txt {
        font-size: 10px;
        color: #C4C6CC;
      }
    }
  }
  
  .scr-form-wrapper {
    margin: 0 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .bk-form-item {
      margin: 8px 0;
      .bk-form-content, .bk-date-picker {
        width: 280px;
      }
      .bk-button {
        margin-right: 8px!important;
      }
    }
  }