.bill-filter-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 15px 0;
    padding: 10px;
    & > div {
        margin-bottom: 10px;
    }
    .bill-form-btn {
        display: flex;
        align-items: center;
        .bk-button+.bk-button {
            margin-left: 10px;
        }
    }
}