.home {
  padding: 15px;
}
.add-font{
  font-size: 16px;
}
.btn-margin{
  margin: 16px 0;
} 
.flex{
  display: flex;
  align-items: center;
}
.ml-24{
  margin-left: 24px;
}
.total-color{
  color: #313238;
}