.home {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;

  .span-2 {
    grid-column-start: span 2;
  }

  :global(.bk-form-item) {
    margin-bottom: 0 !important;
  }

  :global(.bk-date-picker) {
    width: 100%;
  }

  :global(.bk-radio-group) {
    width: 100%;
  }

  :global(.bk-radio-button) {
    width: 50%;
  }
  :global(.bk-textarea textarea){
    height: 100%;
  }
}
