.apply-detail-container {
  .title {
    font-size: 16px;
    color: #313238;
  }

  .sub-title {
    font-size: 14px;
    color: #63656e;
  }

  .apply-content-wrapper {
    margin: 76px 24px 0;
  }
}
