.precheck-operation {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
}
.execute-record-top {
  margin-bottom: 15px;
}

.application-detail-container {
  .detail-wrapper {
    margin: 78px 24px;

    .table-wrapper {
      padding: 16px 24px;
      background-color: #fff;

      .op-tools-wrapper {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

@import url(../../css/form.scss);
