.plan-mod-container {
  .adjust-txt {
    color: #FF9C01;
  }

  .mod-panel-wrapper {
    margin: 68px 16px 0 16px;

    .plan-mod-table-wrapper {
      max-height: calc(100vh - 360px);
      overflow-y: scroll;
    }
    .plan-mod-statistics-panel {
      margin: 16px 0;
      .statistics {
        padding-left: 37px;
        .item {
          height: 40px;
          .label {
            color: #63656E;
            margin-right: 8px;
          }
          .value {
            color: #313238;
          }
        }
      }
    }
  
    .plan-mod-operation-bar {
      position: sticky;
      bottom: 0;
      width: 100%;
      padding: 8px 0;
    }
  }
  
}

.plan-mod-timepicker-tip {
  font-size: 12px;
  .time-txt {
    color: #EA3636;
    font-size: 11px;
    margin: 2px;
  }
}

.plan-mod-diff-txt {
  color: #FF9C01;
  display: flex;
  align-items: center;
}

.plan-mod-remove-num-txt {
  color: #EA3636;
}