.home {
  padding: 15px;
}
.add-font{
    font-size: 18px;
} 
.search-grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  row-gap: 16px;
  .search-label{
    margin-bottom: 6px;
  }
}
.w-full{
  width: 100% !important;
}
.mb-16{
  margin-bottom: 16px;
}
.mt-24{
  margin-top: 24px;
}
.ml-8{
  margin-left: 8px;
}