.home {
  padding: 15px;
}
.header{
  height: 52px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 4px 0 #0000000a;
  font-size: 16px;
  padding: 0 24px;
  color: #313238;
}