.scr-form-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 24px;
    .bk-form-item {
      flex: 0 0 25%;
      margin: 8px 0;
      .bk-form-content,
      .bk-date-picker {
        width: 280px;
        margin-right: 8px;
      }
    }
  }
  .margin20 {
    margin: 0 20px;
  }