.home {
  height: 52px;
  background: #fff;
  box-shadow: 0 3px 4px 0 #0000000a;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 16px;
  color: #313238;
}

.arrow {
  color: #3a84ff;
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.id {
  font-size: 14px;
  color: #63656e;
}
