.form-item-container {
  display: flex;

  .i-form-control {
    width: 300px;
  }
}
.dialog-footer-btn {
  .bk-button + .bk-button {
    margin-left: 10px;
  }
}
.cvm-produce-create-order-dialog {
  .bk-modal-content {
    max-height: 80vh;
    overflow: auto;
  }
}
