.home {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .span-line {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .span-half-line {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .number {
    background: #f5f7fa;
    border-radius: 2px;
    width: 200px;
    line-height: 32px;
    display: inline-block;
    padding: 0 10px;
  }

  :global(.bk-form-item) {
    margin-bottom: 0 !important;
  }
}
