.CommonTable{
    margin: 20px 0;
    display: flex;
    align-items: center;
   
    .bk-button{
        margin-right:8px;
    }
}
.alerttext {
  color: #e7a45f !important;
  font-size: 14px;
  height: 20px;
}
.fw {
  font-weight: 700;
  height: 30px;
}
.displayflex {
  display: flex;
  width: 450px;
  align-items: center;
  margin-top: 20px;
  .displayflex-test{
    margin-left: 10px;
    width: 50px;
  }
}
.mr-10{
  margin-right: 10px;
}
.wid300{
  width: 300px;
}
.recycleForm{
  width: 90%;
  margin: 0 auto;
}
