.search {
  display: flex;
  align-items: center;

  .search-item {
    width: 300px;
    margin-right: 24px;
  }

  .search-button {
    width: 100px;
    margin-right: 8px;
  }
}

.table {
  margin-top: 20px;
}