apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "bk-hcm.fullname" . }}-hcservice-config
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  config.yaml: |-
    network:
      bindIP:
      port: {{ .Values.hcservice.port}}
      tls:
        insecureSkipVerify:
        certFile:
        keyFile:
        caFile:
        password:
    service:
      etcd:
        {{- include "common.tplvalues.render" (dict "value" (include "bk-hcm.etcdConfig" .) "context" $) | nindent 8 }}
    log:
      {{- toYaml .Values.hcservice.log | nindent 6 }}
    esb:
      endpoints:
        - {{ .Values.bkComponentApiUrl }}
      appCode: {{ .Values.appCode }}
      appSecret: {{ .Values.appSecret }}
      user: admin
      tls:
        insecureSkipVerify:
        certFile:
        keyFile:
        caFile:
        password:
    syncCCRes:
      enable: {{ .Values.hcservice.syncCCRes.enable }}
      syncIntervalMin: {{ .Values.hcservice.syncCCRes.syncIntervalMin }}
