.home {
  display: grid;
  padding: 0 28px 8px;
  column-gap: 16px;
  row-gap: 24px;
  grid-template-columns: 420px 200px 200px 200px;

  .text {
    background: #f5f7fa;
    border-radius: 2px;
    line-height: 32px;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
  }

  :global(.bk-form-item) {
    margin-bottom: 0 !important;
  }

  :global(.bk-radio-group) {
    width: 100%
  }

  :global(.bk-radio-button) {
    width: 50%;
  }
}
